# 4. Python 4 Data Science Excercise

1.  Write a NumPy program to get the indices of the sorted elements of a given array.

score = np.array([103, 1502, 6230, 3, 1682, 5241, 4532])

In [21]:
import numpy as np
score = np.array([103, 1502, 6230, 3, 1682, 5241, 4532])

i = np.argsort(score)

print (i)

[3 0 1 4 6 5 2]

2. Do the following exercise in a Jupyter Notebook (a GitHub Link would be the best):

In [22]:
import pandas as pd

In [23]:
#Load the countries.csv directly via URL import into your panda data frame!
import pandas as pd
df = pd.read_csv('C:/Users/elena/Downloads/test.csv')
df

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [24]:
#Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT

df.describe()

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

In [25]:
# number of rows
nr_rows = df.shape[0]
print("number of rows:", " ")
print(nr_rows)

# number of columns
nr_cols = df.shape[1]
print("number of columns:", " ")
print(nr_cols)

#Oben stehende statistische Informationen k√∂nnen auch so ausgegeben werden:
# mean population
mean_population = df['Population'].mean()
print("mean population:", " ")
print(mean_population)

# mean area
mean_area = df['Area'].mean()
print("mean area:", " ")
print(mean_area)

# mean gdp
mean_gdp = df['GDP'].mean()
print("mean gdp:", " ")
print(mean_gdp)

number of rows:
7
number of columns:
5
mean population:
80868388.14285715
mean area:
2926463.5714285714
mean gdp:
2387.5

In [26]:
#Show the last 4 rows of the data frame.
df_last_4 = df.tail(4)
print(df_last_4)

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [27]:
#Show all the rows of countries that have the EURO
df_eur = df[df['Currency'] == 'EUR']
print(df_eur)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

In [28]:
#Show only name and Currency in a new data frame
df_name_currency = df[["Name","Currency"]]
print (df_name_currency)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

In [29]:
#Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)
above_2000 = df[df["GDP"] > 2000]
print (above_2000)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

In [30]:
#Select all countries where with inhabitants between 50 and 150 Mio

df[(df["Population"] > 50000000) & (df["Population"] < 150000000)]

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

In [31]:
#Calculate the GDP average (ignore the missing value) 
gdp_avarag = df['GDP'].mean()

print (gdp_avarag)

2387.5

In [32]:
#Calculate the GDP average (missing value treated as 0)
gdp_avarag = (df['GDP'].fillna(0).mean())

print (gdp_avarag)

2046.4285714285713

In [33]:
#Calculate the population density (population/area)  of all countries and add as new column


df ["Density"] = df["Population"]*1000000 / df["Area"]

df

        Name  Population     Area     GDP Currency       Density
0    Germany    82521653   357385  3466.0      EUR  2.309041e+08
1      Japan   126045000   377835  4938.0      YEN  3.335980e+08
2     Canada    36503097  9984670  1529.0      CAD  3.655914e+06
3      Italy    60501718   301338  1850.0      EUR  2.007769e+08
4   Brazilia   208360000  8515770  1798.0     REAL  2.446755e+07
5     Taiwan    23938272    36197   744.0      NTD  6.613330e+08
6  Venezuela    28208977   912050     NaN      VED  3.092920e+07

In [34]:
#Sort by country name alphabetically
df.sort_values('Name')

        Name  Population     Area     GDP Currency       Density
4   Brazilia   208360000  8515770  1798.0     REAL  2.446755e+07
2     Canada    36503097  9984670  1529.0      CAD  3.655914e+06
0    Germany    82521653   357385  3466.0      EUR  2.309041e+08
3      Italy    60501718   301338  1850.0      EUR  2.007769e+08
1      Japan   126045000   377835  4938.0      YEN  3.335980e+08
5     Taiwan    23938272    36197   744.0      NTD  6.613330e+08
6  Venezuela    28208977   912050     NaN      VED  3.092920e+07

In [35]:
#Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

df['Area'] = np.where(df['Area'] > 1000000, 'BIG', 'SMALL')
print(df)

        Name  Population   Area     GDP Currency       Density
0    Germany    82521653  SMALL  3466.0      EUR  2.309041e+08
1      Japan   126045000  SMALL  4938.0      YEN  3.335980e+08
2     Canada    36503097    BIG  1529.0      CAD  3.655914e+06
3      Italy    60501718  SMALL  1850.0      EUR  2.007769e+08
4   Brazilia   208360000    BIG  1798.0     REAL  2.446755e+07
5     Taiwan    23938272  SMALL   744.0      NTD  6.613330e+08
6  Venezuela    28208977  SMALL     NaN      VED  3.092920e+07